.findPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
.findBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 25rem;
  min-width: 25rem;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3rem;
}
