.container {
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.recommendations {
  /* grid-column-start: 1; */
}

.card:hover,
.card:focus,
.card:active {
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
