.cardWrapper {
  margin: 0rem 8rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1500px) {
  .cardWrapper {
    margin: 0 3rem;
  }
}
@media screen and (max-width: 900px) {
  .cardWrapper {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 600px) {
  .cardWrapper {
    margin: 0 1rem;
  }
}
