.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3); */
  background-color: var(--white);
  /* height: 500px; */
  margin: 0rem 3rem 3rem 3rem;
  border-radius: 2rem;
  gap: 2rem;
  padding: 2rem;
}

.image {
  border-radius: 1rem;
  min-width: 200px;
  min-height: 250px;
  max-width: 400px;
}
