.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--main-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
}

.imageContainer {
  position: relative;
  max-width: 16rem;
  aspect-ratio: 0.8;
}
.image {
  border-radius: 1rem;
}
.title {
  font-size: 1.563rem;
}

.container h4 {
  margin: 0;
  padding: 0.5rem;
}
